    config CALLS
        def_bool y 
    config SCREEN
        def_bool y

    choice
        prompt "Choose screen type"
        default HD
        depends on SCREEN
        config COLOR
            bool "Color screen"
        config BW
            bool "Black and white screen"
        config HD
            bool "High Definition screen"
    endchoice

    config GPS
        bool "GPS location system"
    config MEDIA
        bool "Media modules"
        depends on HD

    if MEDIA
        config CAMERA
            bool "Camera support"
        config MP3
            bool "MP3 support"
    endif
